@use 'variables';

.cva-presentation {
    padding-top: 96px;
    overflow-x: hidden;

    .container {
        max-width: 1280px;
        width: 100%;
        display: flex;
    }

    &__content {
        width: 408px;
        color: variables.$textColor;

        h2 {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.32px;
        }

        img {
            padding: 8px 0;
        }

        h3 {
            width: 408px;
            font-size: 48px;
            font-weight: bold;
            line-height: 56px;
            letter-spacing: 0.96px;
        }
    }

    &__image {
        margin-left: 24px;

        img {
            height: 720px;
        }
    }
}