@use 'variables';

.description {
    .container {
        max-width: 1280px;
        width: 100%;
    }

    &__text {
        width: 848px;
        padding: 96px 0;
        font-size: 24px;
        color: variables.$textColor;
        line-height: 40px;
        letter-spacing: 0.48px;

        @media (max-width: 767px) {
            width: 100%;
            padding-top: 40px;
            padding-bottom: 16px;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.32px;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        @media (max-width: 767px) {
            display: block;
        }

        &__link {
            text-decoration: none;

            &__card {
                background-color: variables.$textColor;
                display: block;
                border: 1px solid variables.$textColor;
                border-radius: 4px;

                @media (max-width: 767px) {
                    border: none;
                    margin-top: 40px;
                }
    
                img {
                    text-align: center;
                    width: 100%;
                    border-radius: 4px;
                }
    
                &__text {
                    background-color: variables.$textColor;
                    padding: 20px;

                    h3 {
                        margin: 0;
                        background-color: variables.$textColor;
                        color: variables.$backgroundColor;
                        font-size: 40px;
                        font-weight: bold;
                        line-height: 40px;
                        letter-spacing: 0.80px;

                        @media (max-width: 767px) {
                            font-size: 24px;
                            font-weight: bold;
                            line-height: 24px;
                            letter-spacing: 0.48px;
                        }
                    }
    
                    p {
                        padding-top: 16px;
                        margin: 0;
                        background-color: variables.$textColor;
                        color: variables.$cardTextColor;
                        font-size: 20px;
                        line-height: 32px;
                        letter-spacing: 0.40px;

                        @media (max-width: 767px) {
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 24px;
                            letter-spacing: 0.32px;
                        }
                    }
                }
            }
        }
    }
}