@use 'variables';

.goodwork-description {

    .container {
        max-width: 1280px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 132px;

        @media (max-width: 1024px) {
            display: block;
            padding-top: 2px;
        }
    }

    &__container {
        color: variables.$textColor;

        @media (max-width: 1024px) {
            width: 352px;
        }

        &__info {
            display: flex;
            justify-content: space-between;
            margin-top: 120px;

            @media (max-width: 1024px) {
                display: block;
            }

            &__text {
                width: 412px;
                margin-right: 120px;

                @media (max-width: 1024px) {
                    width: 100%;
                }
    
                h3 {
                    font-size: 32px;
                    font-weight: normal;
                    line-height: 40px;
                    letter-spacing: 0.64px;
                    margin-bottom: 16px;
    
                    @media (max-width: 1024px) {
                        font-size: 32px;
                        letter-spacing: 0.64px;
                    }
                }
        
                p {
                    font-size: 18px;
                    line-height: 40px;
                    letter-spacing: 0.36px;
                }

                &--desafio {
                    width: 638px;
                    margin-top: 120px;
                    margin-left: 108px;

                    @media (max-width: 1024px) {
                        width: 100%;
                        margin-left: 0;
                    }

                    h3 {
                        font-size: 32px;
                        font-weight: normal;
                        line-height: 40px;
                        letter-spacing: 0.64px;
                        margin-bottom: 16px;
        
                        @media (max-width: 1024px) {
                            font-size: 32px;
                            letter-spacing: 0.64px;
                        }
                    }
            
                    p {
                        font-size: 18px;
                        line-height: 40px;
                        letter-spacing: 0.36px;
                    }
                }
            }

            &__image {
                max-width: 720px;
                height: 100%;

                @media (max-width: 1024px) {
                    width: 100%;
                }
            }
        }
    }
}