@use 'variables';

.goodwork-description {
    overflow-x: hidden;
    .container {
        max-width: 1280px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 132px;
    }

    &__info {
        color: variables.$textColor;
        width: 408px;

        &__text {
            padding-top: 80px;

            h3 {
                font-size: 48px;
                font-weight: bold;
                line-height: 56px;
                letter-spacing: 0.96px;
            }
    
            p {
                line-height: 24px;
                letter-spacing: 0.32px;
            }
        }
    }

    &__images {
        padding-top: 80px;

        &__image1 {
            width: 744px;
        }

        &__image2 {
            width: 1234px;
            margin-top: 336px;
        }
    }
}