@use 'variables';

.goodwork-presentation {
    padding-top: 96px;

    
    @media (max-width: 767px) {
        padding-top: 40px;
    }

    .container {
        max-width: 1280px;
        width: 100%;
        display: flex;

        
        @media (max-width: 767px) {
            display: block;
        }
    }

    &__titles {
        width: 408px;
        color: variables.$textColor;

        h2 {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.32px;

            @media (max-width: 767px) {
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0.24px;
            }
        }

        img {
            padding: 8px 0;
        }

        h3 {
            width: 408px;
            font-size: 48px;
            font-weight: bold;
            line-height: 56px;
            letter-spacing: 0.96px;

            @media (max-width: 767px) {
                width: 352px;
                font-size: 40px;
                font-weight: bold;
                letter-spacing: 0.80px;
            }
        }
    }

    &__text {
        color: variables.$textColor;
        padding-left: 360px;

        @media (max-width: 767px) {
            padding: 0;
        }
        

        p {
            max-width: 628px;
            height: 216px;
            line-height: 24px;
            letter-spacing: 0.32px;

            @media (max-width: 767px) {
                width: 352px;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.32px;
                margin-bottom: 40px;
            }
        }
    }

    &__image {
        margin-left: 112px;
        margin-top: 80px;
        padding-top: 80px;

        @media (max-width: 767px) {
            width: 100%;
            padding: 0;
            margin-left: 0;
            margin-top: 160px;
        }
    }
}