@use 'variables';

.header {
    .container {
        max-width: 1280px;
        width: 100%;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__link {
        text-decoration: none;

        &__text {
            font-size: 32px;
            font-weight: bold;
            color: variables.$textColor;
            margin: 0;
        }
    }

    &__desktop {
        @media (max-width: 1024px) {
            display: none;
        }

        &__menu {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 0;
    
            &__item {
                margin: 0 12px;
    
                &__link {
                    color: variables.$textColor;
                    text-decoration: none;
    
                    i {
                        color: variables.$primaryColor;
                        margin: 0 16px;
                    }
                }
            }
        }
    }

    &__mobile {
        display: none;

        @media (max-width: 1024px) {
            display: flex;

            .hamburger {
                position: fixed;
                z-index: 100;
                top: 1rem;
                right: 1rem;
                padding: 0 8px;
                border: none;
                cursor: pointer;
                color: variables.$textColor;
            }

            .closeIcon {
                display: none;
            }

            .menu {
                position: fixed;
                transform: translateY(-100%);
                transition: transform 0.2s;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 99;
                background-color: variables.$backgroundColor;
                list-style: none;
                padding-top: 4rem;

                li {
                    margin: 0;
                    background-color: variables.$backgroundColor;

                    a {
                        background-color: variables.$backgroundColor;
                        color: variables.$textColor;
                        text-decoration: none;
                        font-weight: bold;
                    }
                }

                &__top {
                    margin: 0;
                    padding: 0 4px;
                    position: fixed;
                    top: 16;
                    display: flex;
                    align-items: center;
                    background-color: variables.$backgroundColor;
                    width: 80%;

                    li {
                        background-color: variables.$backgroundColor;

                        a {
                            text-decoration: none;
                            font-weight: normal;
                            margin-right: 48px;
                            background-color: variables.$backgroundColor;
                            color: variables.$textColor;

                            b {
                                
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

            .showMenu {
                transform: translateY(0);
            }
        }
    }
}