@use 'variables';

.rech-presentation {
    padding-top: 96px;

    @media (max-width: 1024px) {
        padding-top: 40px;
    }

    .container {
        max-width: 1280px;
        width: 100%;
        display: flex;

        @media (max-width: 1024px) {
            display: block;
        }
    }

    &__titles {
        width: 408px;
        color: variables.$textColor;

        @media (max-width: 1024px) {
            width: 352px;
        }

        h2 {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.32px;

            @media (max-width: 1024px) {
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0.24px;
            }
        }

        img {
            padding: 8px 0;
        }

        h3 {
            width: 408px;
            font-size: 40px;
            font-weight: normal;
            line-height: 56px;
            letter-spacing: 0.8px;

            @media (max-width: 1024px) {
                width: 352px;
            }
        }
    }

    &__text {
        color: variables.$textColor;
        padding-left: 240px;
        padding-top: 32px;

        @media (max-width: 1024px) {
            padding-left: 0;
        }

        p {
            max-width: 408px;
            line-height: 24px;
            letter-spacing: 0.32px;
        }

        &__info {
            text-transform: uppercase;
            margin-top: 40px;

            &__text {
                display: flex;
                align-items: center;
                margin-top: 12px;

                h4 {
                    width: 70px;
                    opacity: .4;
                    font-size: 14px;
                    font-weight: normal;
                    letter-spacing: 0.28px;
                    margin: 0;
                }

                p {
                    font-size: 14px;
                    font-weight: normal;
                    letter-spacing: 0.28px;
                    margin: 0 16px;
                }
            }
        }
    }

    &__image {
        margin-top: 80px;
        width: 100%;
    }
}