@use 'variables';

.design-system-description {
    padding-top: 80px;
    overflow-x: hidden;

    .container {
        max-width: 1280px;
        width: 100%;
        display: flex;
        gap: 240px;
    }

    &__text {
        color: variables.$textColor;

        h3 {
            width: 408px;
            font-size: 48px;
            font-weight: bold;
            line-height: 56px;
            letter-spacing: 0.96px;
        }

        p {
            max-width: 408px;
            height: 216px;
            line-height: 24px;
            letter-spacing: 0.32px;
        }
    }

    &__image {
        margin-left: 112px;
    }

    &__process {
        display: flex;
        gap: 184px;

        &__text {
            width: 408px;
            color: variables.$textColor;
            padding-top: 80px;

            h3 {
                font-size: 48px;
                font-weight: bold;
                line-height: 56px;
                letter-spacing: 0.96px;
            }
    
            p {
                width: 408px;
                line-height: 24px;
                letter-spacing: 0.32px;
            }
        }

        &__image {
            padding-top: 80px;

            img {
                height: 768px;
            }
        }
    }
}