@use 'variables';
@use 'header';
@use 'description';
@use 'about-me';
@use 'info';
@use 'goodwork-presentation';
@use 'goodwork-description';
@use 'footer';
@use 'cva-presentation';
@use 'cva-description';

@font-face {
    font-family: PP Mori;
    src: url(/src/fonts/pp_mori/ppmori-extralight-webfont.woff);
}

* {
    font-family: PP Mori, sans-serif;
    list-style: none;
    background-color: variables.$backgroundColor;
}