@use 'variables';
@use 'header';
@use 'description';
@use 'about-me';
@use 'info';
@use 'goodwork-presentation';
@use 'goodwork-description';
@use 'footer';
@use 'cva-presentation';
@use 'cva-description';
@use 'design-system-presentation';
@use 'design-system-description';
@use 'rech-presentation';
@use 'rech-description';
@use 'nsc-presentation';
@use 'nsc-description';


@font-face {
    font-family: PP Mori;
    src: url(/src/fonts/pp_mori/ppmori-extralight-webfont.woff);
}

* {
    font-family: PP Mori, sans-serif;
    list-style: none;
}

body {
    background-color: variables.$backgroundColor;

    @media (max-width: 1024px) {
        background-image: url(/src/images/frame_mobile.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

}